
              <form role="form" method='POST' action="add">
                <div class="card-body">
                
                  <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" id="CategoryId" placeholder="Category" name="category" required>
                  </div>

              
                 
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
